#Agence #intro #smallPrestationGrid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:15px;
}

#Agence #intro {
    display: flex;
    margin : 20px 0;
}

#Agence #prestationGridContainer {
    flex: 1;
    padding-right: 250px;
}

#Agence #PrestationBlock {
    grid-column-start: span 1;
    cursor: pointer;
}

#Agence #intro #selectedPrestation {
    flex:1;
}

#Agence #intro img {
    width:100px;
    height: 100px;
    position:absolute;
    right:90px;
}

#Agence #intro #selectedPrestation #clientReview {
    background-color: #F6F6F6;
    border:1px solid grey;
    padding : 0 10px;
    border-radius: 5px;
    font-size: 0.9em;
    margin-bottom: 30px;
}


#Agence #team {
    display: flex;
    width:80%;
    gap:10%;
    margin:150px auto;
    align-items: center;
}

#Agence #team img {
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: left;
    width:35%;
}

#Agence #workWithUs {
    display: flex;
    align-items: stretch;
    gap:200px;
    margin: 150px 0;
}

#Agence #workWithUs #h3blocks {
    display: flex;
    justify-content: stretch;
    gap:5%;
}

#Agence #workWithUs #h3blocks div {
    border:2px solid #1D909E;
    border-radius: 15px;
    width:30%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

@media screen and (max-width:768px) {
    #Agence {
        text-align: center;
    }
    #Agence #intro {
        display: block;
    }

    #Agence #prestationGridContainer {
        width: 100%;
    }

    #Agence #intro #smallPrestationGrid {
        display: flex;
        gap:50px;
        width:300%;
        flex-wrap: nowrap;
        overflow-x:scroll;
        overflow-y: hidden;
        margin-left: -10%;
    }

    #Agence #intro #smallPrestationGrid::-webkit-scrollbar{
        height: 8px;
    }

    #Agence #intro #smallPrestationGrid * {
        flex:0 0 auto;
        width:200px;
    }

     #Agence #intro #selectedPrestation {
        text-align: left;
        padding:8%;
        border: 1px solid lightgray;
        border-radius: 5%;
        margin-top: 30px;
     }

    #Agence #intro #selectedPrestation img {
        width:60px;
        height:60px;
        right:40px;
    }

    #Agence #team {
        display: block;
        width:100%;
        text-align: center;
    }

    #Agence #team img {
        width:100%;
        margin-bottom: 20px;
    }

    #Agence #workWithUs {
        display: block;
    }

    #Agence #workWithUs div:first-child {
        margin-bottom: 80px;
    }


    #Agence #workWithUs #h3blocks {
        display: block;
        text-align: center;
    }

    #Agence #workWithUs #h3blocks div {
        width:80%;
        margin: 20px auto;
        aspect-ratio: 4/1;
    }

    
}