#Header {
    display: flex;
    justify-content:space-between;
    margin: 30px 0;
}
/* 
#Header #image {
    width:150px;
} */

#Header #logo {
    cursor: pointer;
}

nav {
    display: flex;
    gap:15px;
}

#Header .onPage {
    font-weight: bold;
    text-decoration: underline;
}