#Header {
    display: flex;
    justify-content:space-between;
    margin: 30px 0;
}


#Header #logo {
    cursor: pointer;
    width:400px;
}

nav {
    display: flex;
    gap:15px;
}

#Header .onPage {
    font-weight: bold;
    text-decoration: underline;
}

@media screen and (max-width:768px) {
    #Header {
        display: block;
    }

    #Header #logo {
        width: 100%;
        margin: 40px 0;
    }

    #Header #burger-menu-icon{
        z-index: 3;
        position: relative;
    }

    #burger-menu-icon path{
        stroke-width: 2;
        stroke-linecap: round;
    }

    #Header nav {
        position: fixed;
        background-color: #1D909E;
        top:0;
        left:0;
        height:100%;
        padding:100px 40px;
        z-index: 2;
        transition: left 0.6s ease-in-out;
    }

}