#Outil #intro {
    display: flex;
    gap:150px;
    align-items: center;
    margin : 100px 0;
}

#Outil #smallp {
    width: 45%;
}

#Outil #intro div {
    flex:70%;
}

#Outil #linkToServices {
    width:35%;
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
}

@media screen and (max-width:768px) {
    #Outil {
        text-align: center;
    }

    #Outil #intro {
        display: block;
    }

    #Outil #smallp {
        width: 100%;
    }

    #Outil #linkToServices {
        width:100%;
    }
}